nav {
    background-image: url(../images/big.jpg);
    background-size: 50%; 
}

body {
    background-color: rgb(252, 245, 245);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.thumb {
  min-height: max-content;
}

audio { 
  max-width: 100%;
  margin-top: 3.5%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

audio:focus {
  outline: none;
}

source:focus {
  outline: none;
}

h5 {
  font-size: 2rem;
  font-weight: 225;
}

.p-artist {
  font-size: 1.5rem;
  font-weight: 100;
}

.span-title {
  font-size: 1.5rem;
  font-weight: 150;
}



@media only screen and (max-width: 992px) {
  
  small {
    font-size: 0.75rem;
    padding-top: 15%;
    margin-top: 15%;
  }
  audio {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 768px) {
  audio {
    margin-top: 30%;
  }
  small {
    font-size: 0.65rem;
    padding-top: 15%;
    margin-top: 15%;
  }
}

@media only screen and (max-width: 750px) {
  audio {
    margin-top: 0%;
  }
  small {
    margin: 0%;
    padding: 0%;
    font-size: 0.65rem;
  }
  .p-artist {
    font-size: 1.4rem;
    font-weight: 100;
    margin: 0%;
    padding: 0%;
  }

  .h5-title {
    font-size: 2rem;
    font-weight: 225;
    margin: 0;
    padding: 0;
  }
}

#current-title {
  font-size: small;
  margin: 0;
  padding: 0;
}

#current-artist {
  font-size: x-small;
  margin: 0;
  padding: 0;
}

#footer {
  display: none; 
  background-color: #ffffff; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
  border: 0.5px solid rgb(220, 220, 220);
  color: rgb(61, 58, 58);
}



 /* Night mode 

h5, p {color: #717171; }

div {background-color: #272727;}

body  {background-color: #171717;} */

