<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-xl-4 col-lg-5 col-md-4 col-sm-5">
            <img width="500px" height="500px" class="img-thumbnail thumb" src="{{ track.thumbnail }}" class="card-img" alt="{{ track.title }}">
        </div>
        <div class="col-xl-8 col-lg-7 col-md-6 col-sm-7">
            <div name="myCard" class="card-body myCard">
                {% if track.title|length > 20 %}
                <h5 class="card-title h5-title" title="{{track.title}}">{{ track.title|truncate(20, True) }}</h5>
                {% else %}
                <h5 class="card-title h5-title">{{ track.title }}</h5>
                {% endif %}
                <p class="card-text p-artist">{{ track.artist }}</p>
                <!-- <p class="card-text p-uploaded-at"><small class="text-muted">Uploaded on {{ track.created_at.strftime('%b %m, %Y') }}</small></p> -->
                <audio onplay="togglePlayButton(event);" onpause="togglePauseButton(event);" class="player" controls>
                    <source id={{track.id}} name="{{track.title}}" class="audio-player" src="{{ url_for('main.play_track', track_id=track.id) }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>

            </div>
            
        </div>
    </div>




    <script>

        function replaceSource() {

            // A 3 day battle was waged on the backend trying to get the audio
            // player to refresh with the new src returned from the 
            // play_track/<track_id>/ response. This function took care of that.
            // Thank you Fetch API.

            let audio = document.getElementsByClassName('audio-player');
            let target = audio.item((audio.length)-1);
        
            fetch (`${target.src}`)
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    target.src = data.message.url;
                    target.parentElement.load();
                })
        };

        document.addEventListener('load', replaceSource(event));



        function getCurrentTrack() {
            return nowPlaying[(nowPlaying.length)-1];
        }

        function appendCurrentTrack(event) {
            nowPlaying.push(event.target.childNodes[1]);
        }

        function removeCurrentTrack() {
            if (nowPlaying.length !== 0) {
                currentTrack = nowPlaying[0];
                nowPlaying.pop(currentTrack);   
            }  
        }

        function togglePauseButton(event) {
            
            let targetID = event.target.childNodes[1].getAttribute('id');
            let pauseButton = document.getElementById('pause');
            let pauseID = pauseButton.getAttribute('alt');
            if (targetID == pauseID) {
                removeCurrentTrack();
                let pauseButton = document.getElementById('pause');
                pauseButton.removeAttribute('class');
                pauseButton.setAttribute('class', 'fa fa-play')
            }
        }

        function togglePlayButton(event) {
            // Pause all other songs
            if (nowPlaying.length !== 0) {
                currentTrack = nowPlaying[0];
                currentTrack.parentElement.pause();
                nowPlaying.pop(currentTrack); 
            }

            // Add track to now playing array
            appendCurrentTrack(event);
            
            // Actually play the music
            
            event.target.play();

            // Overwrite footer with track info
            
            displayFooter(event);

            // Ensure footer pause button is in sync w/ audio player
            // let pauseButton = document.getElementById('pause');
            let pauseButton = document.getElementById('pause');
            pauseButton.removeAttribute('class');
            pauseButton.setAttribute('class', 'fa fa-pause')
            

        }

        function displayFooter(event) {

            // Get song info from clicked track
            let currentTrack = getCurrentTrack();
            currentTrackName = currentTrack.getAttribute('name');
            currentTrackID = currentTrack.getAttribute('id');

            // Actually display the footer and relevant info
            let footer = document.getElementById('footer');
            if (footer.style.display == 'none') {
                footer.style.display = 'block';
            }
            
            footer.childNodes[1].innerHTML = `Now playing: ${currentTrackName}`;

            let playControls = document.getElementById('play-controls')
            playControls.childNodes[3].setAttribute('alt', currentTrackID);

        };

        function togglePauseControls(event) {
            let pauseID = event.target.getAttribute('alt');
            let source = document.getElementById(pauseID);
            let audio = source.parentElement;
            
            if (audio.paused) {
                audio.play();
            } else {
                audio.pause();
            }
        }

        function togglePrevButton() {
            let pauseID = document.getElementById('pause').getAttribute('alt');
            let prevID = (parseInt(pauseID) - 1);
            let prevTrack = document.getElementById(`${prevID}`);
            prevTrack.parentElement.play();
        }

        function toggleNextButton() {
            let pauseID = document.getElementById('pause').getAttribute('alt');
            let nextID = (parseInt(pauseID) + 1);
            let nextTrack = document.getElementById(`${nextID}`);
            nextTrack.parentElement.play();
        }

    </script>
</div>



<div id="footer" style="display: none; background-color: gainsboro;" class="navbar fixed-bottom navbar-light bg-light footer">
    <p style="display: inline;" class="card-text p-artist"></p>

    <div id="play-controls" style="display: inline; float: right;" class="card-text p-artist">
        <p id="previous" onclick="togglePrevButton();" class="fa fa-backward"></p>
        <p id="pause" onclick="togglePauseControls(event);" class="fa fa-pause"></p>
        <p id="next" onclick="toggleNextButton();" class="fa fa-forward"></p>
    </div>
    

</div>