<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-5">
            <img width="500px" height="500px" class="img-thumbnail thumb" src="{{ track.thumbnail }}" class="card-img" alt="{{ track.title }}">
        </div>
        <div class="col-xl-8 col-lg-7 col-md-6 col-sm-7">
            <div name="myCard" class="card-body myCard">
                <h5 class="card-title h5-title">{{ track.title }}</h5>
                <p class="card-text p-artist">{{ track.artist }}</p>
                <p class="card-text p-uploaded-at"><small class="text-muted">Uploaded on {{ track.created_at.strftime('%b %m, %Y') }}</small></p>
                <p onclick="fetchURL(event)" id="{{track.id}}" class="track-id large">Click to play</p>
                <!-- <audio controls>
                    <source id="audio-player" src="" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio> -->

            </div>
            
        </div>
    </div>



    <script>

        // This is my front-end attempt at getting the audio to work. 
        // Builds an audio element after the user clicks "Click to play"
        // Janky but temporary fix until backend method works.

        function fetchURL(event) {
            tid = event.currentTarget;
            track_id = tid.id;

            fetch(`${window.origin}/play_track/${track_id}`)
                .then((response) => {

                    return response.json();
                })
                .then(function(data) {

                    createAudioPlayer(data, event);
                });
        }


        function createAudioPlayer(data, event) {

            let cardBody = event.target.parentElement;

            let audio = document.createElement('audio');
            audio.controls = true;

            let source = document.createElement('source');
            source.type = "audio/mpeg";
            source.src = data.message.url

            event.target.style.display = 'none';
            cardBody.append(audio);
            audio.prepend(source);
            
        };


    </script>
</div>



